@model ProjectCard

<div class="text-left">
    <h1 class="display-4">@Model.Project.Name</h1>
    
    <table class="table table-sm table-borderless">
        <thead>
        </thead>
        <tbody>
            <tr class="clicable-row"> 
                <td scope="">@Model.Project.Id . @Model.Project.Name</td>
                <td scope="">@Model.Project.DateStart - @Model.Project.DateEnd</td>
                <td scope="">@Model.Project.Assignments.Count()</td>
                <td scope="">                    
                    <a class="" asp-area="" asp-controller="Projects" asp-action="Remove" asp-route-id="@Model.Project.Id">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
     
    <table class="table text-dark" style="border-color: black">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">date start</th>
                <th scope="col">date end</th>
                <th scope="col">status</th>
                <th scope="col">status</th>  
                <th scope="col">status</th>  
                <th scope="col">status</th>  

            </tr>
        </thead>
        @foreach(var a in Model.Assignments){
            <tbody>
                <tr> 
                    <td scope="">@a.Id</td>
                    <td scope="">@a.Name</td>
                    <td scope="">@a.dateStart.ToString("dd/MM/yyyy")</td>
                    <td scope="">@a.dateEnd.ToString("dd/MM/yyyy")</td>
                    <td scope="">@a.assignmentStatus.ToString()</td>
                    <td scope="">                    
                        @if(a.assignmentStatus == AssignmentStatus.InProgress || a.assignmentStatus == AssignmentStatus.Done ){
                            <a class="" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id">back</a>
                        }
                    </td>
                    <td scope="">                    
                        @if(a.assignmentStatus == AssignmentStatus.ToDo || a.assignmentStatus == AssignmentStatus.InProgress){
                            <a class="" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">>>></a>
                        }
                    </td>
                    <td scope="">                    
                        <a class="" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>


                </tr>
            </tbody>
        }
    </table>


</div>
<a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="AddAssignment" asp-route-id="@Model.Project.Id"> 
    <i class="bi bi-plus-square">Task</i> 
</a>
<a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Project.Id">
    <i class="bi bi-pen"></i>
</a>
<a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="Remove" asp-route-id="@Model.Project.Id">
    <i class="bi bi-trash"></i>
</a>

