@model ProjectCard

<div class="text-left">
    <h1 class="display-4">@Model.Project.Name</h1>
    <div class="row mb-3"> 
        <div class="col-lg-2">
            #@Model.Project.Id: @Model.Project.Name        
        </div>
        <div class="col-lg-2">
            @Model.Project.DateStart.ToString("dd/MM/yyyy") - @Model.Project.DateEnd.ToString("dd/MM/yyyy")
        </div>
        <div class="col-lg-2" align="right">

        </div>
        <div class="col-lg-2" align="right">
            @if(Model.Project.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.Done).Count() == @Model.Project.Assignments.Count()){
                <div>
                    Done
                </div>
            } else {
                <div>
                    InProgress
                </div>
            }
        </div>
        <div class="col-lg-2">
            @Model.Project.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.Done).Count()/@Model.Project.Assignments.Count()
        </div>
        <div class="col-lg-2" align="right" style="">
            <a class="btn btn-dark border-dark" asp-area="" asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Project.Id">
                <i class="bi bi-pen"></i>
            </a>
            <a class="btn btn-dark border-dark" asp-area="" asp-controller="Projects" asp-action="AddAssignment" asp-route-id="@Model.Project.Id"> 
                <i class="bi bi-plus-square"></i> 
            </a>
            <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="Remove" asp-route-id="@Model.Project.Id">
                <i class="bi bi-trash"></i>
            </a>
        </div>
     </div>

    <div class="progress mb-3 border-dark">
        @{
            float valuenow = Model.Project.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.Done).Count(); 
            float valuemax = Model. Project.Assignments.Count();

            var percent = (valuenow/valuemax*100).ToString("0"); 

        }
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: @percent%" aria-valuenow="@valuenow" aria-valuemin="0" aria-valuemax="@valuemax">
            @percent%
        </div>
    </div>
     
    <div class="row mb-3 ml-0 mr-0" style="">
        <div class="column left col-lg-4">
            <div class="card text-dark border-dark bg-danger mb-3">
                <h3 class="card-header" style="display: flex; justify-content: center;">
                   ToDo
                </h3>
            </div>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.ToDo)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-danger border-dark" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">#@a.Id:@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart.ToString("dd/MM/yyyy") - @a.DateEnd.ToString("dd/MM/yyyy")</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-danger border-dark" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="column middle col-lg-4">
            <div class="card text-dark border-dark bg-warning mb-3">
                <h3 class="card-header" style="display: flex; justify-content: center;">
                   InProgress
                </h3>
            </div>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.InProgress)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-warning border-dark" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-left-square"></i>
                        </a>
                        <a class="btn btn-warning border-dark" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">#@a.Id:@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart.ToString("dd/MM/yyyy") - @a.DateEnd.ToString("dd/MM/yyyy")</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-warning border-dark" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="column right col-lg-4">
            <div class="card text-dark border-dark mb-3" style="background-color: rgb(222, 222, 222)">
                <h3 class="card-header" style="display: flex; justify-content: center;">
                   Done
                </h3>
            </div>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.Done)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id" style="background-color: rgb(222, 222, 222)">
                            <i class="bi bi-arrow-left-square"></i>
                        </a>
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">#@a.Id:@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart.ToString("dd/MM/yyyy") - @a.DateEnd.ToString("dd/MM/yyyy")</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id" style="background-color: rgb(222, 222, 222)">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-light border-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row mb-3 ml-0">
    <a class="btn btn-light border-dark" data-toggle="collapse" href="#List" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-list-ul"></i>
    </a>
    <a class="btn btn-dark border-dark ml-2" asp-area="" asp-controller="Projects" asp-action="AddAssignment" asp-route-id="@Model.Project.Id"> 
        <i class="bi bi-plus-square"></i> 
    </a>
</div>

<div class="collapse" id="List">
    <div class="card card-body border-dark">
        <table class="table text-dark=" style="">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">DateStart</th>
                    <th scope="col">DateEnd</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var a in Model.Assignments){
                    <tr> 
                        <td>@a.Id</td>
                        <td>@a.Name</td>
                        <td>@a.DateStart.ToString("dd/MM/yyyy")</td>
                        <td>@a.DateEnd.ToString("dd/MM/yyyy")</td>
                        <td>@a.AssignmentStatus.ToString()</td>
                        <td align="right">
                            <a class="btn btn-light border-dark btn-sm" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id" style="background-color: rgb(222, 222, 222)">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a class="btn btn-light border-dark btn-sm" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>


