@model ProjectCard




<div class="text-left">
    <h1 class="display-4">@Model.Project.Name</h1>
    <table class="table table-sm table-borderless">
        <tbody>
            <tr class="clicable-row"> 
                <td scope="">@Model.Project.Id . @Model.Project.Name</td>
                <td scope="">@Model.Project.DateStart - @Model.Project.DateEnd</td>
                <td scope="">@Model.Project.Assignments.Count()</td>
                <td scope="">                    
                    <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Project.Id">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="Remove" asp-route-id="@Model.Project.Id">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
     
    <div class="mb-3" style="background-color:rgba(255, 255, 255, 0.742);">
        <div class="column left">
            <h2>ToDo</h2>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.ToDo)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart - @a.DateEnd</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="column middle">
            <h2>InProgress</h2>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.InProgress)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-left-square"></i>
                        </a>
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart - @a.DateEnd</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="column right">
            <div class="card text-white bg-warning mb-3">
                <h2 class="card-header" style="display: flex; justify-content: center;">
                   Done
                </h2>
                
            </div>
            @foreach(var a in Model.Assignments.Where(x => x.AssignmentStatus == AssignmentStatus.Done)){
                <div class="card border-dark mb-3" style="">
                    <h4 class="card-header">
                        @a.Name
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id">
                            <i class="bi bi-arrow-left-square"></i>
                        </a>
                    </h4>
                    <div class="card-body text-dark">
                        <p class="card-text">@a.Description  aaa</p>
                        <small class="card-title">@a.DateStart - @a.DateEnd</small>
                    </div>
                    <div class="mb-3 ml-3">
                        <a class="btn btn-warning" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="mb-3" >
    <a class="btn btn-light" data-toggle="collapse" href="#List" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-list-ul"></i>
    </a>
    <a class="btn btn-dark" asp-area="" asp-controller="Projects" asp-action="AddAssignment" asp-route-id="@Model.Project.Id"> 
        <i class="bi bi-plus-square"></i> 
    </a>
</div>

<div class="collapse" id="List">
    <div class="card card-body">
        <table class="table text-dark" style="border-color: black">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">date start</th>
                    <th scope="col">date end</th>
                    <th scope="col">status</th>
                    <th scope="col">status</th>  
                    <th scope="col">status</th>  
                    <th scope="col">status</th>  

                </tr>
            </thead>
            @foreach(var a in Model.Assignments){
                <tbody>
                    <tr> 
                        <td scope="">@a.Id</td>
                        <td scope="">@a.Name</td>
                        <td scope="">@a.DateStart.ToString("dd/MM/yyyy")</td>
                        <td scope="">@a.DateEnd.ToString("dd/MM/yyyy")</td>
                        <td scope="">@a.AssignmentStatus.ToString()</td>
                        <td scope="">                    
                            @if(a.AssignmentStatus == AssignmentStatus.InProgress || a.AssignmentStatus == AssignmentStatus.Done ){
                                <a class="" asp-area="" asp-controller="Projects" asp-action="AssignmentDowngrade" asp-route-id="@a.Id">back</a>
                            }
                        </td>
                        <td scope="">                    
                            @if(a.AssignmentStatus == AssignmentStatus.ToDo || a.AssignmentStatus == AssignmentStatus.InProgress){
                                <a class="" asp-area="" asp-controller="Projects" asp-action="AssignmentUpgrade" asp-route-id="@a.Id">>>></a>
                            }
                        </td>
                        <td>
                            <a class="" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@a.Id">
                                <i class="bi bi-pen"></i>
                            </a>
                        </td>
                        <td scope="">                    
                            <a class="" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@a.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>        
    </div>
</div>


