@model List<Assignment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Projects";
}

<h1 class="display-4" style="display: flex; justify-content: center;">
    Tasks List
</h1>

<div class="card card-body border-dark mb-3">
    <table class="table text-dark">  
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>   
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model){
                <tr> 
                    <td>#@m.Id</td>
                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@m.Id">
                            @m.Name
                        </a>                    
                    </td>
                    <td>@m.DateStart.ToString("dd/MM/yyyy")-@m.DateEnd.ToString("dd/MM/yyyy")</td>
                    <td>@m.AssignmentStatus.ToString()</td>
                    <td align="right">                    
                        <a class="btn btn-dark border-dark btn-sm" asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@m.IdProject">
                            <i class="bi bi-arrow-right-square"> #@m.IdProject</i>
                        </a>
                        <a class="btn btn-light border-dark btn-sm backgroud-white" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@m.Id">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-light border-dark btn-sm backgroud-light" asp-area="" asp-controller="Projects" asp-action="RemoveAssignmentFromList" asp-route-id="@m.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 