@model List<Assignment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Projects";
}


@if (SignInManager.IsSignedIn(User)){
 // TODO: add defentdenscies of admin ale signed projects to users.
}


<h1 class="text-dark text-center">Assignments</h1>  
<div class="">
 <table class="table table-responsive text-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Project id</th>
                <th scope="col">date start</th>
                <th scope="col">date end</th>
                <th scope="col">status</th>
                <th scope="col">a</th>  
                <th scope="col">edit</th>  
                <th scope="col">remove</th>  
            </tr>


        </thead>
        @foreach(var m in Model){
            <tbody>
                <tr> 
                    <th scope="col">@m.Id</th>
                    <th scope="col">
                        @if(m.IdProject == null){
                            <a>NotAssigned</a>
                        }
                        else @m.IdProject
                    </th>
                    <th scope="col">@m.dateStart.ToString("dd/MM/yyyy")</th>
                    <th scope="col">@m.dateEnd.ToString("dd/MM/yyyy")</th>
                    <th scope="col">@m.assignmentStatus.ToString()</th>
                    <th scope="col">>>></th> 
                    <th scope="col">
                        @if(m.IdProject != null){
                            <a class="" asp-area="" asp-controller="Projects" asp-action="EditAssignment" asp-route-id="@m.Id">
                                <i class="bi bi-pen"></i>
                            </a>
                        } 
                        else {
                            <a class="" asp-area="" asp-controller="Projects" asp-action="EditAssignmentNoAs" asp-route-id="@m.Id">
                                <i class="bi bi-pen"></i>
                            </a>
                        }

                    </th> 
                    <th scope="col">
                        <a class="" asp-area="" asp-controller="Projects" asp-action="RemoveAssignment" asp-route-id="@m.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </th> 
                </tr>
            </tbody>
        }
    </table>
</div> 